
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; 
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #fff;
    text-align: center;
    }
    
    .main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 400px;
    margin-top: 50px;
    }
    
    .category1 {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 275px;
    }
    
    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    }

    .category1 p {
        margin-top: 280px;
      }
      .category2 p {
        margin-top: 280px;
      }
      .category3 p {
        margin-top: 280px;
      }

      .category2 {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 400px;
       width: 275px;
        }

        .category3 {
            background-color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 400px;
           width: 275px;
            }



            .support-chat {
                background-color: #f2f2f2;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                max-width: 300px; /* Размеры блока подстраивайте под свои дизайнерские требования */
              }
              
              .chat-messages {
                min-height: 200px;
                max-height: 300px;
                overflow-y: scroll;
                padding: 10px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-bottom: 10px;
              }
              
              .chat-input input {
                width: calc(100% - 70px);
                padding: 8px;
                margin-right: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
              }
              
              .chat-input button {
                padding: 6px 10px;
                border: none;
                background-color: #007bff;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
              }
              
              .chat-input button:hover {
                background-color: #0056b3;
              }